<footer>
    <a href="/privacy_disclaimer" style="text-decoration: none; color: rgb(0, 217, 255);">
        <div style="background-color: #333333; padding: 20px;">
            <p>&copy; 2024 PetHouse Animal Store | Privacy/Disclaimer Statement</p>
        </div>
    </a>
</footer>