<header>
    <div class="logo">
        <a href="/home"><img src="/Images/logo.jpg" alt="PetHouse Animal Store Logo" style="border-radius: 50px;"></a>
        <br>
        <a href="/home">PetHouse Animal Store</a>
        <br>
        <p id="datetime"></p>
    </div>
</header>